html
    head
    title Firebase App Example
    meta(charset='UTF-8')
    meta(
        name='viewport' 
        content='width=device-width, initial-scale=1.0'
    )
    link(rel='stylesheet' href=host+'/component/css/home.css')
    script(crossorigin src='https://unpkg.com/react@17/umd/react.development.js')
    script(crossorigin src='https://unpkg.com/react-dom@17/umd/react-dom.development.js')
    script(src=host+'/component/login.js')
    script.
        var b = fetch('http://localhost:5000/api/init', {
            headers : { 
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(res => {
            console.log(res);
            return res.json();
        }).then( (data) => {
            console.log(data);
        });

        window.onload = function(){
            
            class Greetings extends React.Component{
                render(){
                    return React.createElement('h1', null, 
                        React.createElement(Login, null, 'Test2'),
                        React.createElement('br'),
                        'Greetings, ' + this.props.name + '!'
                    );
                }
            }

            ReactDOM.render(React.createElement(Greetings, { name : 'Chris' }),document.getElementById('root'));
            
        }
    body
        div#root